@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  color: $mainBlack;
  background: $mainWhite;
  font-family: $mainFontStack;
  overflow-x: hidden;
}
