.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: $mainTransition;
  background: rgba(0, 0, 0, 0.8);
  z-index: 3;
  visibility: hidden;
}

.cart {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  overflow: scroll;
  z-index: 3;

  padding: 1.5rem;
  transition: $mainTransition;
  transform: translateX(100%);

  &::before {
    position: absolute;
    content: "";
    top: 0;
    z-index: -1;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
  }
}

.showCart {
  transform: translateX(0);
}
.transparentBcg {
  visibility: visible;
}

@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}

.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}

.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: $mainSpacing;
  margin-bottom: 2rem;
}

/* Cart item */
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;

  //.cart-item img
  img {
    width: 75px;
    height: 75px;
  }

  // .cart-item  h4
  h4 {
    font-size: 0.86rem;
    text-transform: capitalize;
    letter-spacing: $mainSpacing;
  }

  //  .cart-item h5
  h5 {
    margin: 0.5rem 0;
    letter-spacing: $mainSpacing;
    color: $primary-color;
  }

  .amount-container {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .item-amount {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
  }

  .remove-item {
    cursor: pointer;
    color: rgba(50, 50, 50, 0.8);
  }

  .fa-plus {
    color: green;
  }

  .fa-minus {
    color: $primary-color;
  }

  .fa-plus,
  .fa-minus {
    cursor: pointer;
    margin: 0 1rem;
  }
}

.cart-footer {
  margin-top: 2rem;
  letter-spacing: $mainSpacing;
  text-align: center;
}

.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}
